.chartjs-tooltip {
    background: rgba(0,0,0,.7);
    border-radius: 0.25rem;
    color: #fff;
    opacity: 0;
    padding: 0.25rem 0.5rem;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%);
    transition: all .15s ease;
    z-index: 1021;
}